.row-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-block: 1%;
}

.row-container * {
    margin-inline: 2%;
}

p {
    vertical-align: middle;
    margin-block: auto;
}
