﻿button {
    width: auto;
}

.button-header {
    margin-block: 1.5%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /*    height: 25%;*/
}

.color-preview {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

p {
    margin-block: auto;
    vertical-align: middle;
}
