@inject CameraService _CameraService
@implements IDisposable

<link rel="stylesheet" type="text/css" href="CameraDisplay.razor.css?version=0.1">

<div class="card full-height">
    <div class="card-header">
        <h3>Camera Display</h3>
    </div>
    <div class="cam-container">
        <img class="cam-display" src="@_CameraService.GetFrameData(_sourceIndex)" />
    </div>
    <div class="source-buttons-container">
        @for (int i = 0; i < 8; i++)
        {
            <button @onclick="() => SetSource(i)">@(i + 1)</button>
        }
    </div>
    <p>Source: @_sourceIndex</p>
    <p>L: @_CameraService.Debug()</p>
</div>

@code {
    private bool _prerendered = false;
    private int _sourceIndex = 0;

    private async Task OnNewFrame()
    {
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        _CameraService.SubscribeToNewFrame(OnNewFrame, _sourceIndex);
        await InvokeAsync(StateHasChanged);
    }

    private void SetSource(int newSourceIndex)
    {
        _CameraService.UnsubscribeFromNewFrame(OnNewFrame, _sourceIndex);
        _sourceIndex = newSourceIndex;
        _CameraService.SubscribeToNewFrame(OnNewFrame, _sourceIndex);
    }

    void IDisposable.Dispose()
    {
        if (_prerendered)
        {
            _CameraService.UnsubscribeFromNewFrame(OnNewFrame, _sourceIndex);
            _CameraService.Dispose();
        }
        else
        {
            _prerendered = true;
        }
    }
}
