@implements IDisposable
@using OpenCvSharp

<style>
    .scrollable {
        max-height: 50vh; 
        overflow-y: auto;
        display: block;
    }
</style>

<div class="card full-height">
    <div class="card-header">
        <h4>Camera</h4>
    </div>
    <div class="card-body scrollable">
        @if (!_dataLoaded)
        {
            <div class="row">
                <div class="spinner-border " role="status"></div>
                <div class="col">
                    <h3>Loading...</h3>
                </div>
            </div>
        }
        else
        {
            <div class="col">

            </div>
        }
    </div>
</div>


@code
{
    // Declare page member variables.
    private string _imgSrc;
    // Flags.
    private bool _dataLoaded = false;

    protected override void OnInitialized()
    {
        _dataLoaded = true;
    }

    protected override async Task OnInitializedAsync()
    {
        using (var capture = new VideoCapture("udp://127.0.0.1:1234"))
        using (var frame = new Mat())
        {
            while (true)
            {
                capture.Read(frame);

                var base64 = Convert.ToBase64String(frame.ToBytes());
                _imgSrc = $"data:image/gif;base64, {base64}";

                await Task.Delay(1);

                StateHasChanged();
            }
        }
    }

    void IDisposable.Dispose()
    {

    }
}
