<div class="card full-height">
	<div class="card-header">
		<h3>Enviroment Data</h3>
	</div>

	<p>Temperature: @_temp</p>
	<button>Request Temperature Data</button>
	<p>Humidity: @_humidity</p>
	<button>Request Temperature Data</button>

</div>

@code
{
	private float _temp = 0f;
	private float _humidity = 0f;


}