@inject TaskTimerService _TaskTimerService

@if (!_dataLoaded)
{
    <div class="row">
        <div class="spinner-border " role="status"></div>
        <div class="col">
            <h3>Loading...</h3>
        </div>
    </div>
}
else
{
    <style>
        .scrollable {
            max-height: 50vh; 
            overflow-y: auto;
            display: block;
        }
    </style>

    <div class="card full-height">
        <div class="card-header">

        </div>
        <div class="card-body scrollable">
           
        </div>
    </div>
}


@code
{
    // Declare page member variables.

    // Flags.
    private bool _dataLoaded = false;

    protected override void OnInitialized()
    {
        // Create some timers.
    }

    protected override async Task OnInitializedAsync()
    {
        
    }

    public void Dispose()
    {

    }
}
