.camera-controls {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px repeat(7, min-content);
    place-items: stretch stretch;
}

.camera-controls p {
    place-self: center;
    font-family: Courier New, monospace;
}

.source-buttons-container {
    grid-area: 1 / 1 / 1 / 5;
    display: flex;
    flex-direction: row;
    margin-inline: 0;
    margin-block: 0;
    --btn-color: white;
}

.source-buttons-container button {
    margin: 1px;
    flex: 1;
    padding: 0;
}

.source-buttons-container button:hover::after {
    content: var(--camera-button-title);
    position: relative;
    top: +100%;
    background-color: #f00;
}

.camera-streaming {
    --btn-fill: #65c100;
}

.camera-available {
    --btn-fill: #cd9f00;
}

.camera-none {
    --btn-fill: #808080;
}

.camera-disconnected {
    --btn-fill: #ff0000;
}