.camera-controls {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px min-content min-content min-content;
    grid-template-areas:
        "source-buttons source-buttons source-buttons source-buttons"
        "utilization-1 utilization-1 utilization-2 utilization-2"
        "connect disconnect restart shutdown"
        "screenshot save panorama arguments";
    place-items: stretch stretch;
}

.camera-controls p {
    place-self: center;
    font-family: Courier New, monospace;
}

.source-buttons-container {
    grid-area: source-buttons;
    display: flex;
    flex-direction: row;
    margin-inline: 0;
    margin-block: 0;
    --btn-color: white;
}

.source-buttons-container button {
    margin: 1px;
    flex: 1;
    padding: 0;
}

.source-buttons-container button:hover::after {
    content: var(--camera-button-title);
    position: relative;
    top: +100%;
    background-color: #f00;
}

.camera-streaming {
    --btn-fill: #65c100;
}

.camera-available {
    --btn-fill: #cd9f00;
}

.camera-none {
    --btn-fill: #808080;
}

.camera-disconnected {
    --btn-fill: #ff0000;
}

.camera-arguments {
    position: fixed;
    inset: 10vh 10vw 10vh 10vw;
    z-index: 2000;
    display: grid;
    grid-template-rows: 9fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.camera-arguments button {
    font-size: 5vh;
}