.source-buttons-container {
    width: 100%;
    padding: 0px 21px 0px 15px;
    display: flex;
    flex-direction: row;
    margin-inline: 0;
    margin-block: 0;
    --btn-color: white;
}

.source-buttons-container button {
    flex: 1;
    padding: 0;
}

.camera-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.video-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}