.drive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "left-backward left-backward left-forward left-forward"
        "right-backward right-backward right-forward right-forward"
        "deadzone-input deadzone-input deadzone deadzone"
        "drivespeed-input drivespeed-input drivespeed-buttons drivespeed-buttons";
    place-items: center;
    height: unset;
}

.drive>p {
    align-content: center;
}

.drive>progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #000;
    background-color: #333;
}

.drive>progress[value]::-webkit-progress-bar {
    background-color: #333;
    border-radius: 0px;
}

.drive>progress[value]::-moz-progress-bar {
    background-color: #00f;
    border-radius: 0;
}

.drive>progress[value]::-webkit-progress-value {
    background-color: #00f;
    border-radius: 0;
}

.gimbal-frame {
    grid-area: gimbal;
    place-self: center;
    max-height: 120px;
}