.pms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "pcl mb cb ab"
        "pcl ma ca aa"
        "pca rl sl nl"
        "pca ra sa na"
        "pcj pcj pcj pcj"
        "pvl c1l c2l c3l"
        "pvl c1v c2v c3v"
        "pvv c4l c5l c6l"
        "pvv c4v c5v c6v"
        "r e s th";
    place-items: center;
    font-weight: bold;
    gap: 1px;
    background-color: #000;
    container: whole-window / inline-size;
}

@container whole-window {
    button {
        font-size: 3cqw;
    }
    p {
        font-size: 3cqw;
    }
}

.pms>div {
    container: stretchy-divs / inline-size; /* inline-size means that text size will be based on the width of the container, i think */
}

.pms>p,
.pms>div>p {
    color: #000;
}

.pms>div>p,
.pms>p,
.pms>button {
    z-index: 1;
    text-align: center;
}

.pms>div>button {
    text-align: center;
    margin: auto;
}

.pms>div {
    place-self: stretch;
    background-color: var(--bg);
    align-content: center;
    justify-content: center;    
    text-align: center;
}

@container stretchy-divs (min-width: 10px) {
    p {
        font-size: 10cqw;
    }
    button {
        font-size: 10cqw;
    }
}

.pms>div.disabled {
    background: repeating-linear-gradient(135deg, var(--bg), var(--bg) 8px, #444 0, #444 10px);
}

@keyframes blink {
    50% {
        --bg: #fff;
    }
}

.pms>div.critical {
    animation: blink 0.3s step-start infinite;
}

.pms>div.warning {
    animation: blink 1.5s step-start infinite;
}

.pms>div.thermal {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "t1 fan"
        "rpm fan";
    place-items: center;
}

.pms>div.thermal>*.fan {
    width: 75%;
    aspect-ratio: 1/1;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 0.1s ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}