.pms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "pcl mb cb ab"
        "pcl ma ca aa"
        "pca rl sl nl"
        "pca ra sa na"
        "pcj pcj pcj pcj"
        "pvl c1l c2l c3l"
        "pvl c1v c2v c3v"
        "pvv c4l c5l c6l"
        "pvv c4v c5v c6v"
        "r e e s";
    place-items: center;
    color: #000;
    font-weight: bold;
    gap: 1px;
    background-color: #000;
}

.pms>p,
.pms>button {
    z-index: 1;
    text-align: center;
    color:#000;
}

.pms>div {
    place-self: stretch;
    background-color: var(--bg);
}

.pms>div.disabled {
    background: repeating-linear-gradient(135deg, var(--bg), var(--bg) 8px, #444 0, #444 10px);
}

@keyframes blink {
    50% {
        --bg: #fff;
    }
}

.pms>div.critical {
    animation: blink 0.3s step-start infinite;
}

.pms>div.warning {
    animation: blink 1.5s step-start infinite;
}