.row-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-block: 1%;
}

.auto-drive-power {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2fr min-content 5fr min-content;
}