:root {
/* radzen component colors */
--rz-white: #ffffff;
--rz-black: #000000;
--rz-base-50: #fafafa;
--rz-base-100: #f5f5f5;
--rz-base-200: #eeeeee;
--rz-base-300: #e0e0e0;
--rz-base-400: #bdbdbd;
--rz-base-500: #9e9e9e;
--rz-base-600: #757575;
--rz-base-700: #616161;
--rz-base-800: #424242;
--rz-base-900: #212121;
--rz-primary: #8cbe44;
--rz-primary-light: #6966db;
--rz-primary-lighter: rgba(67, 64, 210, 0.12);
--rz-primary-dark: #3633a8;
--rz-primary-darker: #2e2c8f;
--rz-secondary: #e91e63;
--rz-secondary-light: #ed4b82;
--rz-secondary-lighter: rgba(233, 30, 99, 0.12);
--rz-secondary-dark: #ba184f;
--rz-secondary-darker: #9e1443;
--rz-info: #2196f3;
--rz-info-light: #4dabf5;
--rz-info-lighter: rgba(33, 150, 243, 0.2);
--rz-info-dark: #1a78c2;
--rz-info-darker: #1666a5;
--rz-success: #4caf50;
--rz-success-light: #70bf73;
--rz-success-lighter: rgba(76, 175, 80, 0.16);
--rz-success-dark: #3d8c40;
--rz-success-darker: #347736;
--rz-warning: #ff9800;
--rz-warning-light: #ffad33;
--rz-warning-lighter: rgba(255, 152, 0, 0.2);
--rz-warning-dark: #cc7a00;
--rz-warning-darker: #ad6700;
--rz-danger: #f44336;
--rz-danger-light: #f6695e;
--rz-danger-lighter: rgba(244, 67, 54, 0.2);
--rz-danger-dark: #c3362b;
--rz-danger-darker: #a62e25;
--rz-series-1: #3700b3;
--rz-series-2: #ba68c8;
--rz-series-3: #f06292;
--rz-series-4: #ff8a65;
--rz-series-5: #ffee58;
--rz-series-6: #9ccc65;
--rz-series-7: #26a69a;
--rz-series-8: #4fc3f7;
--rz-series-9: #7f5cce;
--rz-series-10: #ce93d8;
--rz-series-11: #f48fb1;
--rz-series-12: #ffab91;
--rz-series-13: #fff176;
--rz-series-14: #aed581;
--rz-series-15: #4db6ac;
--rz-series-16: #81d4fa;
--rz-series-17: #a58cdd;
--rz-series-18: #e1bee7;
--rz-series-19: #f8bbd0;
--rz-series-20: #ffccbc;
--rz-series-21: #fff59d;
--rz-series-22: #c5e1a5;
--rz-series-23: #80cbc4;
--rz-series-24: #b3e5fc;
/* bootstrap component colors */
--bs-body-color: #dee2e6;
--bs-body-color-rgb: 222, 226, 230;
--bs-body-bg: #212529;
--bs-body-bg-rgb: 33, 37, 41;
--bs-emphasis-color: #fff;
--bs-emphasis-color-rgb: 255, 255, 255;
--bs-secondary-color: rgba(222, 226, 230, 0.75);
--bs-secondary-color-rgb: 222, 226, 230;
--bs-secondary-bg: #343a40;
--bs-secondary-bg-rgb: 52, 58, 64;
--bs-tertiary-color: rgba(222, 226, 230, 0.5);
--bs-tertiary-color-rgb: 222, 226, 230;
--bs-tertiary-bg: #2b3035;
--bs-tertiary-bg-rgb: 43, 48, 53;
--bs-primary-text-emphasis: #6ea8fe;
--bs-secondary-text-emphasis: #a7acb1;
--bs-success-text-emphasis: #75b798;
--bs-info-text-emphasis: #6edff6;
--bs-warning-text-emphasis: #ffda6a;
--bs-danger-text-emphasis: #ea868f;
--bs-light-text-emphasis: #f8f9fa;
--bs-dark-text-emphasis: #dee2e6;
--bs-primary-bg-subtle: #031633;
--bs-secondary-bg-subtle: #161719;
--bs-success-bg-subtle: #051b11;
--bs-info-bg-subtle: #032830;
--bs-warning-bg-subtle: #332701;
--bs-danger-bg-subtle: #2c0b0e;
--bs-light-bg-subtle: #343a40;
--bs-dark-bg-subtle: #1a1d20;
--bs-primary-border-subtle: #084298;
--bs-secondary-border-subtle: #41464b;
--bs-success-border-subtle: #0f5132;
--bs-info-border-subtle: #087990;
--bs-warning-border-subtle: #997404;
--bs-danger-border-subtle: #842029;
--bs-light-border-subtle: #495057;
--bs-dark-border-subtle: #343a40;
--bs-heading-color: inherit;
--bs-link-color: #6ea8fe;
--bs-link-hover-color: #8bb9fe;
--bs-link-color-rgb: 110, 168, 254;
--bs-link-hover-color-rgb: 139, 185, 254;
--bs-code-color: #e685b5;
--bs-highlight-color: #dee2e6;
--bs-highlight-bg: #664d03;
--bs-border-color: #495057;
--bs-border-color-translucent: rgba(255, 255, 255, 0.15);
--bs-form-valid-color: #75b798;
--bs-form-valid-border-color: #75b798;
--bs-form-invalid-color: #ea868f;
--bs-form-invalid-border-color: #ea868f;
color-scheme: dark;
}