<!DOCTYPE html>
<html lang="en" data-bs-theme="light" manifest="appcache.manifest">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/icons/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="radzen-ext.css" />
    <link rel="stylesheet" href="Basestation_Software.Web.styles.css" />
    <link rel="stylesheet" href="leaflet_offline/style.css" type="text/css" />
    <link rel="stylesheet" href="leaflet_offline/leaflet.css" type="text/css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="leaflet_offline/leaflet.js"></script>
    <script src="leaflet_offline/event.js"></script>
    <script src="leaflet_offline/storage.js"></script>
    <script src="leaflet_offline/map.js"></script>
    <script src="leaflet_offline/run.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script>
        function changeTheme(theme) {
            document.documentElement.setAttribute("data-bs-theme", theme);
        }
    </script>
</body>

</html>
