@page "/"
@implements IDisposable
@inject MapTileService _MapTileService

<style>
    .card {
        margin-bottom: 1rem;
    }
</style>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-7">
            <div class="row flex-grow-1">
                <div class="col-12">
                    <Waypoints />
                </div>
            </div>
            <div class="row flex-grow-1">
                <div class="col-12">
                    <TaskTimers />
                </div>
            </div>
            <div class="row flex-grow-1">
                <div class="col-12">
                    <Counter />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row flex-grow-1">
                <div class="col-12">
                    <RoverMap />
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    // Declare page member variables.

    // Flags.    

    protected override void OnInitialized()
    {
        // Do nothing yet.
    }

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
        // Do nothing yet.
    }
}
