@page "/RID"

<PageTitle>Rover Imagery Display</PageTitle>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
            <div class="row flex-grow-1 mb-4">
                <div class="col-12">
                    <div class="card fade-in-up">
                        <div class="card-header">
                            <h2>Configuration</h2>
                            <h6 class="card-subtitle">Test 1</h6>
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-grow-1">
                <div class="col-12">
                    <div class="card full-height fade-in-up">
                        <div class="card-header">
                            <h2>Other</h2>
                            <h6 class="card-subtitle">Test 2</h6>
                        </div>
                        <div class="card-body scrollable" style="max-height: 48vh">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    // Declare page member variables.

    // Flags.

    protected override void OnInitialized()
    {
        // Nothing to do yet.
    }

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
    }
}
