@page "/RON"
@implements IDisposable

<div class="row mt-3">
    <PingGraph />
</div>
<div class="row mt-3">
    <RoveCommExample />
</div>

@code
{
    // Declare page member variables.

    // Flags.

    protected override void OnInitialized()
    {
        // Nothing to do yet.
    }

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
    }
}
