@page "/RON"

<PageTitle>Rover Overview of Network</PageTitle>

<div class="container">
    <div class="row mt-3">
        <PingGraph />
    </div>
</div>

@code
{
    // Declare page member variables.

    // Flags.

    protected override void OnInitialized()
    {
        // Nothing to do yet.
    }

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
    }
}
